<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color:cyan;text-align:center;">
<form action="r" method="post">
    {% csrf_token %}
    <h2 style="text-align:center;"><u>Registration form<u></h2>
     <input type="text"  name="username" placeholder="enter username"><br>
     <input type="text"  name="first_name" placeholder="enter firstname"><br>
     <input type="text"  name="last_name" placeholder="enter lastname"><br>
     <input type="email"  name="email" placeholder="enter email"><br>
     <input type="password"  name="password" placeholder="enter password"><br>
      <input type="password"  name="cpassword" placeholder="enter  repeate password"><br>
<br>
    <br>
    <input type="submit">
</form>
{% for msg in messages %}
<h2>{{msg}}</h2>
{% endfor %}
</body>
</html>